*{
    margin: 0px;
    padding: 0px;
}
.masterwindow{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.masterleft{
    background-color: aliceblue;
    width: 20%;
    height: 100%;
}
.masterright{
    background-color: aqua;
    width: 80%;
    height: 100%;
}