/* CSS for AboutUs javascript page */

.about{
  height: 91vh;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .just-center-img img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }