.buttontext{
    color: aliceblue;
    text-shadow: 5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardbutton{ 
    align-items: center; 
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    margin-top: 5%;
    box-shadow: 10px 10px 23px -7px rgba(0,0,0,0.75);
}

#container{ 
    width:250px;
    height:180px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
}

.card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
}
#button{
    color: #ffffff;
}