/* CSS for CreateUsers javascript file */
.field-users{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}
.user__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    margin-bottom: 2%;
}
.userContainerLeft{
    width: 60%;
    display: flex;
    flex-direction: row;
}
.userContainerRight{
    width: 40%;
    display: flex;
    flex-direction:row;
    padding-left: 15%;

}
#cUserInput{
    margin-right: 2%;
}
.usersearch__container{
    float: right;
    width: 25%;
    position: relative;
    float: right;
}
.list-user{
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
    height: 70vh;
    scroll-behavior: smooth;
}
#listUsers{
    position: sticky;
    top: 0;
    background-color: rgba(245, 245, 245, 0.945);
}
#listUsers tr th{
    font-weight: bolder;
}