*{
    margin: 0%;
    padding: 0%;
}

.screens__container{
    padding-left: 5%;
    padding-right: 5%;
}

.preview-container{
    width:100%;
    height:200px;
    object-fit: contain;
    content: 'preview';
}

.buttontext{
    color: aliceblue;
    text-shadow: 5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardbutton{ 
    align-items: center; 
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px #1e1e1e;
    border-radius: 8px;
    object-fit: contain;
}

#container{ 
    width:100%;
    max-width: 200px;
    height:120px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    object-fit: contain;
    /* margin-left: auto;
    margin-right: auto; */
}