/* CSS for UseButtonHistory javascript file */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.modal-header {
    padding: 2px 16px;
    background-color: #f0f4f0;
    color: black;
}

.modal-body {
    padding: 2px 16px;
    background-color: #f0f4f0;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #f0f4f0;
    color: black;
}

#statModalBody {
    overflow-y: scroll;
}

#statModalTable {
    background-color: #324960b1;
    color: #ffffff;
    position: sticky;
    top: 0;
}